################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/
/obj/
/SkillsAPI.csproj.user
/obj
.vscode/launch.json
.vscode/tasks.json
